*
{
	margin:0;
	padding:0;
}
html,body,.main
{
	width:100%;
	height:100%;
	position: absolute;
	top: 0px;
}
.answer-div{
	width: 100%;
	height: 35%;
	background:#EAE6E6;
	font-size: 2em;
}
.answer-div .relationship-show{
	width: 100%;
	height: 40%;
	font-size: 0.8em;
}
.answer-div .final-answer{
	width: 100%;
	height: 60%;
	text-align: right;
    font-size: 1.5em;
}

.calculate-content{
	width: 100%;
	height: 65%;
	
}
.calculate-content table{
	width: 100%;
	height: 100%;
}
.calculate-content table tr{
	width: 100%;
	height: 20%;
}
.calculate-content table tr td{
	border: 1px solid #000000;
	text-align:center;
}

.calculate-content table tr td button{
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	border: 0px solid #000000;
	font-size: 3em;
}

.col-equal-block button{
	background: #FF8100 !important;
}

#btn-reset{
	color: #FF0000;
}
#final-answer-display{
	height: 100%;
}
.answer-image{
	height: 100%;
}
.main .main-title{
	width: 100%;
	height: 33%;
	text-align: center;
}
.main-title p{
	font-size: 2em;
}
.select-div{
	text-align: center;
}

.dialect-page{
	position: fixed;
	top: 10px;
	right: 10px;
	border: 0.1em solid #777777;
	border-radius:50%;
	color:#777777;
}
